.contactFormWrapper {
	.btn-white {
		border: 2px solid $white;

	}

	@media only screen and (min-width: 1000px) { 
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;

		.column {
			width: calc(33.333% - 30px);
			margin-left: 15px;
			margin-right: 15px;
		}

		.btn-white {
			border: 2px solid $white;
			width: 100%;
			margin-top: 24px;
		}

		textarea {
			height: 124px;
		}
	}
}