.dblBorderBox {
	border: $lightGray 4px solid;
	position: relative;
	padding: $hspace;
	margin-bottom: $hspace;
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 3px;
		left: 2px;
		right: 2px;
		bottom: 3px;
		border: 2px solid $lightGray;
		z-index: -1;
	}
} 
