input,
textarea,
select,
button,
label {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

input, textarea {
  height: 40px;
  border-radius: 0;
  color: darken($black, 10%);
}

textarea {
  height: 10em;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea { 
  padding: 5px 10px;
}

.selectWrapper {
  $localHeight: 50px;
  border: 0;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;

  &:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border-top: 18px solid $green;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
    pointer-events: none;
  }

  &:after {
    content: '';
    width: $localHeight;
    height: $localHeight;
    position: absolute;
    right: 0;
    top: 0; 
    pointer-events: none;
  }

  select::-ms-expand {  display: none; }

  select {
    padding-right: 30px;
    -webkit-appearance: none;
    appearance: none;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    height: $localHeight;
    outline: 0;
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
    color: $green;
    box-shadow: inset 0 0 0 0 transparent;
  }
}

input,
select,
textarea {
  margin-bottom: $hspace;
  border: 2px solid $lightGray;
  box-shadow: inset 0 0 0 0 $black;

  &.error {
    border: 1px solid lighten($green, 20%);
    box-shadow: inset 0 0 10px 0 rgba($green, .3)
  }
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: ($hspace / 2);
  vertical-align: text-top;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  border-radius: 0;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 10px;
}

label {
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;

  + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    padding-left: 40px;

    &:before {
      content: '';
      border: none;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      padding: 2px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

//uncomment to format validation errors box
// .valErrors {
//   background-color: rgba($customColor1, .75);
//   padding: 10px;
//   display: none;
//   margin-bottom: 20px;
//   border: 1px solid lighten($customColor1, 20%);

//   ul {
//     margin-bottom: 0;
//     @include list-plain;

//     li {
//       label {
//         color: $white;
//         font-weight: 400;
//       }
//     }
//   }
// }

// input[type="checkbox"]:checked {
//   + label:after {
//     content: '';
//     color: $cream;
//     width: 4px;
//     height: 11px;
//     position: absolute;
//     top: 3px;
//     left: 7px;
//     border-bottom: 4px solid $cream;
//     border-right: 4px solid $cream;
//     transform: rotate(45deg);
//   }
// }

// input[type="radio"] {
//   + label:before {
//     border-radius: 100%;
//   }

//   &:checked + label:after {
//     content: '';
//     width: .6em;
//     height: .6em;
//     position: absolute;
//     top: .445em;
//     left: .4em;
//     background-color: $white;
//     border-radius: 100%;
//   }
// }

//Style Placeholder
input::-webkit-input-placeholder {
  color: $black;
}

input:-moz-placeholder { /* Firefox 18- */
  color: $black; 
}

input::-moz-placeholder { /* Firefox 19+ */
  color: $black;
}
 
input:-ms-input-placeholder {
  color: $black;
}