.skillsSection {
	border-top: 18px $green solid;
	border-bottom: 18px $green solid;
	overflow: hidden;
	min-height: 420px;
	background: repeating-linear-gradient(to right,rgba($lightGray, .5),rgba($darkGray, .5) 3px),url("/assets/images/tempHero.jpg") no-repeat center;
	background-size: cover;
	display: flex;

	>.skillsSection-SVGwrapper {
		display: flex;
		align-items: center;
	}
} 
