.svgCSS3 {
	height: 132px;
	// width: 80px;
	
	.text {
		fill:$white;
		transition: fill .3s;
	}
  .st0 {
  	fill:$white;
  }
  .st1{
  	fill:#5D5D5D;
  	transition: fill .3s;
  }
  .st2{
  	fill:#858585;
  	transition: fill .3s;
  }
  .st3{
  	fill:#B3B3B3;
  }
  .st4{
  	fill:#E6E6E6;
  }

  &:hover {
	  .st1{
	  	fill:#2162AF;
	  }
	  .st2{
	  	fill:#369CD6;
	  }
  }
} 
