<!DOCTYPE html>
<html class="scrollHeader fixedWhiteHeader">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>codyMoore.io</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

	<script src="/assets/js/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="canonical" href="http://codymoore.io/">
  <link rel="alternate" type="application/rss+xml" title="codyMoore.io" href="http://codymoore.io/feed.xml">
</head>


<body>
  <header id="header">
    <div class="siteContainer">
      <div class="container">
        <div class="header-column column">
          <!-- logo -->
          <a href="/">
            <svg x="0px" y="0px" viewBox="0 0 600 183.3" class="logoSVG">
              <text transform="matrix(1 0 0 1 234.6396 75.6328)"><tspan x="0" y="0" class="logoSVG-text">CODY</tspan><tspan x="0" y="88.5" class="logoSVG-text">MOORE</tspan></text>
              <rect x="3.4" class="logoSVG-box" width="200.8" height="183.3"/>
              <g>
                <path class="logoSVG-BracketRight" d="M63.6,71.8c0,11.9-3.6,17.5-13.8,19.8c10.2,2.5,13.8,8.1,13.8,19.9v19.9c0,7.7,3.1,10.7,14.5,10.7v21.1H67
                  c-21.4,0-28.8-6.1-28.8-23.1v-30.5c0-5.3-1.8-7.2-6.1-7.2h-6.4V80.7h6.4c4.3,0,6.1-1.8,6.1-7.1V43c0-17,7.4-22.9,28.8-22.9h11V41
                  c-11.4,0-14.5,3-14.5,10.7V71.8z"/>
                <path class="logoSVG-BracketRight" d="M181.8,102.4h-6.3c-4.4,0-6.3,2-6.3,7.2v30.5c0,17-7.4,23.1-28.8,23.1h-10.9v-21.1c11.2,0,14.5-3,14.5-10.7
                  v-19.9c0-11.9,3.5-17.5,13.8-19.8c-10.4-2.5-13.8-8.1-13.8-19.9V51.7c0-7.7-3.3-10.7-14.5-10.7V20.1h10.9
                  c21.4,0,28.8,5.9,28.8,22.9v30.6c0,5.3,1.8,7.1,6.3,7.1h6.3V102.4z"/>
              </g>
            </svg>
          </a>
          <nav class="siteNav">
            <a class="smoothScroll" href="/#work">Work</a>
            <a class="smoothScroll" href="/#skills">Skills</a>
            <a class="smoothScroll" href="/#about">About</a>
            <a class="smoothScroll" href="#contact">Contact</a>
            <a class="page-link" href="/blog/">Blog</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
