.container {
  position: fixed;
  bottom: 0;
  background-color: var(--colorGray);
  width: 100%;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  border-top: 4px solid var(--colorGreen);
}