.btn {
  display: table;
  padding: 10px 25px;
  color: $darkGray;
  width: auto;
  font-size: 22px;
  line-height: 28px;
  transition: background-color .3s, color .3s;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: $hspace;
  box-shadow: none;
  border: $darkGray 3px solid;
  background-color: transparent;
  cursor: pointer;

  &:hover, &:focus, &:active {
    // color: $white;
  }
}

.btn-white {
  @extend .btn;
  color: $white;
  border: $white 1px solid;
  transition: color .25s, background-color .25s;

  &:hover, &:focus, &:active {
    color: $gray;
    background-color: $white;
  }
}
