$black: #000000;
$white: #fff;
$darkGray: #424242;
$gray: #5a5a5a;
$lightGray: #cccccc;
$green: #38b922;

$backgroundColor: #ffffff;
$linkColor: $green;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// FONTS 
$bodyFont: 'Montserrat', sans-serif;

// LAYOUT
$vspace: 10px;
$hspace: 20px; 

$desktopSiteWidth: 1120px;