.displayWorkSection {
	padding-top: 30px;
	padding-bottom: 30px;

	>h1 {
		text-align: center;
	}

	>.sitesWrapper {
		display: flex;
		flex-wrap: wrap;

		>.column {
			display: flex;

			>.dblBorderBox {
				text-align: center;
				margin-top: 100px;
				padding: 30px;
				padding-bottom: 90px;

				>img {
					margin-top: -100px;
					max-width: 240px;
					width: 100%;
				}

				>.btn {
					position: absolute;
			    bottom: 20px;
			    right: 30px;
			    left: 30px;
			    display: block;
				}
			}
		}
	}

	@media only screen and (min-width: 600px) {
		>.sitesWrapper {
			>.column {
				width: 50%;
			}
		}
	}

	@media only screen and (min-width: 768px) {
		padding-top: 60px;
		padding-bottom: 60px;

		>h1 {
			margin-bottom: 30px;
		}
	}

	@media only screen and (min-width: $desktopSiteWidth) {
		>.sitesWrapper {
			>.column {
				width: 33.333%;

				>.dblBorderBox {
					h2 {
						// white-space: nowrap;
					}
				}
			}
		}
	}
}
