#footer {
	// flex: 1 0 auto;
	flex: none;

	.footer_Wrapper {
		background-color: $gray;
		padding-top: 10px;
		padding-bottom: 10px;

		>p {
			text-align: center;
			color: $white;
			margin-bottom: 0;
		}
	}
}
