#header {
	background-color: $darkGray;
	// transition: all .3s;
	// flex: 1 0 auto;

	@media only screen and (min-width: 768px) {
		background-color: transparent;
		position: fixed;
		z-index: 1;
		width: 100%;
		padding: 20px 0;
		border: none;
		box-shadow: 0px 0px 0px 0px rgba($gray, .7);

		.header-column {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.mainLogo {
			margin: 35px auto 0;
		}
	}
}


.fixedWhiteHeader #header {
	@media only screen and (min-width: 768px) {
		background-color: $white;
		border-bottom: $lightGray solid 1px;
		box-shadow: 0px 0px 5px 5px rgba($gray, 0.3);
		position: static;
		margin-bottom: 30px;
	}
}

.scrollHeader #header {
	@media only screen and (min-width: 768px) {
		position: fixed;
		margin-bottom: 0;
	}
}
