.layout-toolsWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	margin-bottom: 25px;

	#editorToolBar {
		flex-grow: 1;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#main {
	flex: 1;
	margin-top: 16px;

	@media only screen and (min-width: 768px) {
		margin-top: 126px;
	}

	&.noTopPadding {
		margin-top: 0;
	}

	&.blogPost {
		padding-bottom: 50px;
		margin-top: 20px;

		@media only screen and (min-width: 768px) {
			margin-top: 150px;
		}
	}
}
