.logoSVG {
	height: 60px;
	width: 196px;
	margin-top: 10px;
	margin-bottom: 10px;


	.logoSVG-box {
		fill:transparent;
		stroke:#FFFFFF;
		stroke-miterlimit:10;
		transition: fill .3s;

		.fixedWhiteHeader & {
			stroke: $darkGray;
		}

	}

	&:hover {
		.logoSVG-box {
			fill: $white;

			.fixedWhiteHeader & {
				fill: $darkGray;
			}
		}
	}

	.logoSVG-text{
		font-size:93.3583px;
		font-weight: 700;
		fill: $white;
		transition: fill .3s;

		.fixedWhiteHeader & {
			fill: $darkGray;
		}
	}

	.logoSVG-BracketRight,
	.logoSVG-BracketLeft {
		fill: $green;
	}

	@media only screen and (min-width: 768px) {
		margin: 0;
	}
}
