.siteNav {
	margin-bottom: 20px;

	>a {
		color: $white;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 30px;
		display: table;
		margin: 5px 0;
		@include listPlain;
		position: relative;

		&.skillsLink {
			display: none;

			@media only screen and (min-width: 650px) {
				display: block;
			}

			@media only screen and (min-width: 768px) {
				display: inline-block;
			}
		}

		@media only screen and (min-width: 768px) {
			display: block;

		}

		&:after {
			content:'';
			position: absolute;
			display: block;
			width: 100%;
			bottom: -3px;
			left: 0;
			visibility: hidden;
			transform: scaleX(0);
			background-color: $green;
			height: 4px;
			transition: all 0.25s ease-in-out 0s;
		}

		&:hover {
			color: $white;

			&:after {
				visibility: visible;
				transform: scaleX(1);
			}
		}

		.fixedWhiteHeader &{
			@media only screen and (min-width: 768px) {
				color: $gray;
			}

			&:hover {
				@media only screen and (min-width: 768px) {
					color: $gray;
				}
			}
		}
	}

	@media only screen and (min-width: 768px) {
		margin-bottom: 0;

		>a {
			font-size: 18px;
			line-height: 24px;
			display: inline-block;
			margin: 0;
			margin-left: 30px;
		}
	}
}
