.container {
  padding-top: 30px;
  padding-bottom: 85px;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 40px;
}

.title {
  font-size: 32px;
  line-height: 38px;
  margin: 0 0 10px;
}

.myFace {
  display: none;
  border: 10px solid #e0e0e0;
  width: 100%;
  max-width: 280px;
}

.iconsWrapper {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-column-gap: 10px;
}

@media only screen and (min-width: 650px) {
  .contentWrapper {
    display: grid;
    grid-template-columns: auto 280px;
    grid-column-gap: 40px;
  }

  .myFace {
    display: block;
  }
}